body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #3b6ea5;
    padding: 0; 
    margin: 0;
}

main {
    width: 100vw; 
    height: 97vh;
    position: relative;
    padding: 20px; 
    margin: 0;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    box-sizing: border-box;
}

footer {
    height: 3vh; 
    width: 100vw; 
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-family: "MS Sans Serif", "Arial", sans-serif;
    color: white; 
    text-shadow: 1px 1px 0px black;
    border-top: 2px solid black;
    background-color: #e0e0e0;
}

h1 {
    text-align: center;
}

.icon_container {
    width: 32vw; 
    height: 8vh;
    display: flex;
    justify-content: left;
    gap: 28px;
}


.icon_button {
    position: relative;
    background: none;
    border: none;
    width: 8vh;
    height: 8vh;
    padding: 0; 
}

.icon_picture_container {
    height: 6vh; 
    width: 6vh;
    position: absolute; 
    top: 0; 
    left: 1vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
}

.icon_text {
    position: absolute; 
    bottom: -0.5vh; 
    height: 2vh; 
    width: 8vh; 
    align-items: center; 
    border: none; 
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white; 
    text-shadow: 1px 1px 0px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Iceland", serif;
    font-weight: 400;
    font-style: normal; 
    font-family: "Iceland", serif;
}

#task-bar {
    width: 85vw; 
    height: 100%;
    display: flex;
}

#corner {
    height: 100%;
    width: 10vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

#corner-text {
    font-family: "Iceland", serif;
    color: black;
    padding-left: 8px;
    font-size: 12pt;
}

#minimized-items-container { 
    height: 100%;
    width: 75vw;
    display: flex;
    align-items: center;
}

#time-container {
    height: 3vh;
    width: 10vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

#time {
    text-align: right;
    padding-right: 9px;
    font-size: 12pt;
    font-family: "Iceland", serif;
    color: #020202;
}

#about_picture_container {
    background-image: url('../assets/icons/about.png');
}

#music_picture_container {
    background-image: url('../assets/icons/music.png');
}

#piano_picture_container {
    background-image: url('../assets/icons/piano.png');
}

#resume_picture_container {
    background-image: url('../assets/icons/resume.png');
}

#blog_picture_container {
    background-image: url('../assets/icons/internet_explorer.png');
}

#mail_picture_container {
    background-image: url('../assets/icons/mail.png');
}

#chess_picture_container {
    background-image: url('../assets/icons/cube.png');
}

#video_picture_container {
    background-image: url('../assets/icons/video.png');
}

#fonts_picture_container {
    background-image: url('../assets/icons/fonts.png');
}

#sitemap_picture_container {
    background-image: url('../assets/icons/sitemap.png');
}

#to-do_picture_container {
    background-image: url('../assets/icons/to-do.png');
}

#guestbook_picture_container {
    background-image: url('../assets/icons/about.png');
}

#projects_picture_container {
    background-image: url('../assets/icons/about.png');
}

#backgrounds_picture_container {
    background-image: url('../assets/icons/internet_explorer.png');
}

#writings_picture_container {
    background-image: url('../assets/icons/to-do.png');
}


iframe {
    display: block; 
    height: 100%;
    width: 100%;
    margin: 0 auto; 

}

.iframe_container {
    height: 315px;
    width: 560px;
    margin: 0 auto;
}

.fake_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#background_list_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.background-row {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.background-clicker {
    height: 100%;
    width: 33%;   
    flex-grow: 1;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-text {
    flex-grow: 1;
}

.background-container {
    border: 2px solid black;
    flex-grow: 4;
    width: 100%;
    cursor: pointer;
}

#bg1 {
    background-color: red;
}

#bg2 {
    background-color: orange;
}

#bg3 {
    background-color: yellow; 
}

#bg4 {
    background-color: yellowgreen;
}

#bg5 {
    background-color: cyan;
}

#bg6 {
    background-color: green;
}

#bg7 {
    background-color: blue;
}

#bg8 {
    background-color: purple;
}

#bg9 {
    background-color: pink;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }
  